body{
	font-family:'Lato'!important;
	
}
body p{
	text-align:center;
}


.container-fluid{
	padding:0px!important;
}

/*.registration{
	background:url(../images/register_back.jpg);
	background-size:cover;
}*/

.about-us {
	text-align:center;
	padding:50px;
}
.about-us .heading{
	color:red;
	font-size:33px;
}


.about-us .text{
	color:black;
	font-size:20px;
	padding-top:20px;
}


.route-head	p{
			text-align:center;
			font-size:27px;
			color:#b91560;
			font-weight:600;
		
		}
		.route-head{
			margin-top:50px!important;
			margin:20px 0px;
		}
		
		
.solution td,.solution th{
          
            border : 1px solid black;
    }		
		
.form_head{

    font-size: 23px;
    color: black;
    font-weight: 500;
}
.location td,.location th,.vehicle td,.vehicle th{
	border:1px solid black;
}	

 


table{
			margin-bottom:70px;
}
tr,td,th {
				text-align:center!important;
				width:400px!important;
				padding:20px 20px;
		}		